{% for category in site.categories %}
    {{ category[0] }}
    <ul>
        {% assign post = category[1][0] %}
        {{ post.path }}

        {% assign pathes = post.path | split: "/" %}
        {% assign main_ctg = pathes[1] | replace: "-", " " %}

        {% if category[0] == main_ctg %}
            <h1>
            {{ category[0] }} - ({{ category[0].size }})
            </h1>
        {% else %}
            {{ category[0] }} - ({{ category[0].size }})
        {% endif %}
    </ul>
{% endfor %}