{% for category in site.categories %}
    {{ category[0] }}
    <ul>
        {% for post in category.last %}
            <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
        {% endfor %}

        {% assign post = category[1][0] %}
        {{ post.path }}

        {% assign pathes = post.path | split: "/" %}
        {% assign main_ctg = pathes[1] | replace: "-", " " %}

        {% if category[0] == main_ctg %}
            <h1>
            {{ category[0] }} - ({{ category.size }})
            </h1>
        {% else %}
            {{ category[0] }} - ({{ category.size }})
        {% endif %}
    </ul>
{% endfor %}