.current {
    color: rgb(0, 159, 0);
}

/* link tag color setting */
a:link, a:visited, a:hover, a:active { color:black }

header { display: flex; justify-content: space-between; }
header h1 { position: absolute; left: -2000px; }

.container { width: 1270px; margin:0 auto; }

.header {
    display: flex;
}