{% include header.html %}
  <body>
    <div>
      <header>
        <h1>Akashic Record</h1>
        <nav>
          <ul>
            <li>
              <a href="www.naver.com">NAVER</a>
            </li>
            {% for item in site.data.navigation %}
              <li>
                <a herf="{{ item.link }}" {% if page.url == item.link %} class="current" {% endif %}>{{ item.name }}</a>
              </li>
            {% endfor %}
          </ul>
        </nav>
      </header>
    </div>
    {{ content }}
  </body>
</html>